.product{
    width: 300px;
    height: 510px;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286;
    border-radius: 8px;
    margin: 7px;
}
.productInfo{
    margin: 0px 10px;
}
.productInfo p {
    margin: 7px 0px;
}
.productName{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.btn-cart{
    width: 100%;
    background: #ffe0b3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    transition: 0.4s;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-cart:hover{
    background: orange;
}