.header{
    background: #1c2b35;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0px 130px;
    align-items: center;
}
.header a {
    color: white;
    text-decoration: none;
    margin-left: 36px;
    font-size: 17px;
    transition: 0.4s;
}
.header a:hover{
    color: orange;

}
.btn-logout{
    margin-left: 10px;
}